# Predicting floods with weather forecast data

More rain, more water and ultimately more floods. This seems straightforward, but how does it really work? What are the physical processes? What kind of models can you use to understand and predict floods? What data do you need? This workshop will address these questions using Jupyter notebooks, Python code examples and real world data. With timeseries of historical weather and river flow data we will explore the data and build several models to get an understanding of floods across the UK.  

## Explore data

In [2]:
import pandas as pd

Data from https://nrfa.ceh.ac.uk/data/search

In [12]:
rain = pd.read_csv('data/3001_cdr.csv',skiprows=16)
rain.columns = ['date','rainfall','x']
rain = rain.drop('x', axis=1)

flow = pd.read_csv('data/3001_gdf.csv',skiprows=16)
flow.columns = ['date','flow','x']
flow = flow.drop('x', axis=1)

In [13]:
rain.head()

         date  rainfall
0  1950-01-01       1.3
1  1950-01-02       4.6
2  1950-01-03      24.3
3  1950-01-04       9.8
4  1950-01-05      28.3

In [14]:
flow.head()

         date   flow
0  1953-10-01  27.10
1  1953-10-02  26.31
2  1953-10-03  26.59
3  1953-10-04  24.18
4  1953-10-05  21.24